
.taskForm{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(rgb(174, 0, 255), rgb(0, 247, 255))
}
input,label,textarea{
  margin:  5px 0px;
  text-align: center;
}
.btnsubmit {
  background-color: rgb(24, 207, 115);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.btndelete {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.taskList {
    margin: auto;
    list-style-type: none;
    padding: 0;
    width: 50%;
    /* padding-left: 500px; */
  }
.taskList li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(166, 131, 196);
    margin: .5em;
    padding: .3em 0;
    height: auto;
    border-radius: 4px;
  }
.taskList li.selected:hover {
    background-color:black !important;
    color: white;
  }
.taskList li:hover {
    color: black;
    background-color: #DDD;
    left: .1em;
  }
  .taskList .text {
    position: relative;
    top: -3px;
  }
  .taskList .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:  rgb(207, 24, 24);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin: .8em .8em 0.8em .8em;
    border-radius: 4px 4px 4px 4px;
  }
  .selected {
      background-color: black !important;
      color: white;
    }
  